@use "../global/" as *;

.hamburgerIcon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}
.navbar-link-list.sidebar {
  display: inline-block;
  padding: 2rem 1.5rem;
  margin: 0 2rem;
  font-size: 1.2rem;
}

.drawer-link {
  color: $primary-color;
  width: 100%;
  text-decoration: none;
  .drawer-btn {
    padding: 2rem;
  }
}

.drawer-btn:hover {
  color: red;
}

.navbar-container:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.drawer-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: $tablet-screen) {
  .hamburgerIcon {
    display: inline-block;
  }
}
